.footer .site-contact p{
    text-transform: uppercase;
    letter-spacing: .4rem;
    margin-bottom: 0;
}   

.footer-top{
    /* --auto-grid-gap: var(--size-600);
    --auto-grid-min: min(24rem, 100%);
    --auto-grid-method: auto-fit; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--size-600);
}

@media screen and (min-width:46.125em) {
    .footer-top{
        justify-content: space-between;
    }
}

@media screen and (min-width:32.5em) {
    .footer-top{
        flex-direction: row;
    }
}

.footer-top__left{
    text-align: center;
}

@media screen and (min-width:32.5em) {
    .footer-top__left{
        /* display: flex; */
        align-content: center;
        display: flex;
        justify-content: center;
        text-align: initial;
    }
}

.footer-top__left .logo-icon{
    align-self: center;
    /* max-width: 2rem; */
    width: 4rem;
    min-width: 4rem;
    display: block;
    margin: 0 auto var(--size-900) auto;
}

.footer-top__right{
   align-self: center;
}

.footer .company-social ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-self: center;
}

.footer .company-social ul li{
    margin: 0 0 0 var(--text-300);
}

.footer .company-social ul li a svg{
    fill: var(--color-secondary);
}

.footer .company-social ul li a:hover svg{
    fill: var(--color-primaryoffest);
}

.company-social{
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
}

@media screen and (min-width:51.625em) {
    .company-social{
        justify-content: flex-end;
    }
}

.company-social h3{ margin-bottom: 0; }

.footer .logo-icon{
    width: calc(2rem + var(--size-900));
}

.footer-bottom{
    text-align: center;
    border-top: 1px solid var(--color-primaryoffest);
}

.footer-bottom p { margin-bottom: 0; }