.header.home{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
}

.header__contactdeet{
    width: 100%;    
    color: var(--color-light);
    line-height: 1;
}

.header__contactdeet .row{
    width: 100%;
}

.header__contactdeet ul{
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    flex-wrap: wrap;
    gap: var(--size-200);
}

.dot{ display: none; }

@media screen and (min-width:38.75em) {
    .header__contactdeet ul{
        flex-direction: row;
        gap: var(--size-800);
    }

    .dot{
        display: initial;
    }
}

.header__contactdeet ul li{
    list-style: none;
}

.header .bs1{
    fill:var(--color-primary);
}

.header #bslogosymbol{
    width: 5.3rem;
    height: 5.3rem;
}

.header__inner .nav-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner .nav-layout ul{
    margin: 0;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:64em) {
    .header__inner .nav-layout ul{
        flex-direction: row;
    }
}

.header__inner .nav-layout a{
    text-decoration: none;
}

.header__inner .nav{
    letter-spacing: .3rem;
    /* font-size: var(--step--1); */
    font-weight: 300;
}

.header__inner .nav li{
    margin: 0 var(--text-200);
    padding: 0 var(--text-200);
}

.header__inner .social ul li{
    margin: 0 0 0 var(--text-300);
}

.header__inner .social ul li a svg{
    fill: var(--color-primary);
}

.header__inner .social ul li a:hover svg{
    fill: var(--color-secondary);
}

/* navigation */



@media screen and (max-width:64em) {
    .header .nav {
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin-right:auto;
        overflow-y:auto;
        transition:transformX .3s ease-in-out;
        transform:translateX(150%);
        transition:.3s ease-in-out;
        padding:var(--size-600) var(--size-600) var(--size-800) var(--size-600);
        display:flex;
        flex-direction:column;
        align-self:stretch;
        visibility: hidden;
    }

    .header[data-state=open] .nav {
        transform:translateX(0);
        background-color: var(--color-primary);
        visibility: visible;
    }

    .header[data-state=open] .nav ul{
        color: var(--color-light);
        padding-top: 50vw;
        padding-left: 0;
    }

    .header[data-state=open] .nav ul li{
        margin-bottom: var(--size-900);
    }

    .burger[aria-expanded="true"]{
        color:var(--color-light) !important;
    }
}

.header .social{
    display: none;
}



@media screen and (min-width:64em) {
    .header .nav{
        position: relative;
        top:initial;
        left:initial;
        right:initial;
        bottom:initial;
        background-color: initial;
        display: initial;
        transform: none;
        margin-right: initial;
        padding: initial;
        align-self: center;
        transition: none;
        animation: none;
        overflow-y: initial;
    }

    .nav-layout .burger{
        display: none;
    }

    .header .social{
        display: inline-flex;
    }
}

.burger {
    --burger-size:2rem;
    --burger-line-height:2px;
    position:relative;
    display:inline-block;
    appearance:none;
    border:none;
    outline:0;
    background:0 0;
    padding:0;
    margin:0;
    cursor:pointer;
    width:var(--burger-size);
    height:var(--burger-size);
    color:currentColor
   }
   .burger span,
   .burger:after,
   .burger:before {
    position:absolute;
    top:calc((var(--burger-size)/ 2) - (var(--burger-line-height)/ 2));
    right:0;
    height:var(--burger-line-height);
    transition:all .3s cubic-bezier(.785,.135,.15,.86);
    transition-delay:.1s;
    border-radius:999px;
    background:currentColor;
    width:100%
   }
   .burger:after,
   .burger:before {
    content:''
   }
   .burger:before {
    transform:translateY(-8px)
   }
   .burger span {
    /* transform:translateX(12.5%) */
   }
   .burger:after {
    transform:translateY(8px)
   }
   .burger:focus {
    outline:2px solid var(--color-pink)
   }
   .burger[aria-expanded=true] span {
    opacity:0;
    transform:translateX(20px)
   }
   .burger[aria-expanded=true]:before {
    transform:rotate(45deg)
   }
   .burger[aria-expanded=true]:after {
    transform:rotate(-45deg)
   }