.hero{
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 78vh;
    max-height: 60.25rem;
     */
    height: auto;
    padding-top: 15.72rem;
    position: relative;
    z-index: 5;
}

.hero h1{
    letter-spacing: .4rem;
}

@media screen and (min-width: 960px) {
    .hero{
        height: auto;
        /* max-height: 60.25rem; */
    }
}

@media screen and (min-width: 680px) and (max-width: 960px) {
    .hero{
        /* height: 70vh; */
        /* max-height: 45rem; */
    }
}

@media screen and (min-width: 680px){
    .hero{
        padding-bottom: 9rem;
        margin-bottom: 9rem;
    }

    .hero__image{
        padding-bottom: 0;
        margin-bottom: -18rem;
    }
}

.hero__intro{
    margin: 0 auto;
}

.our-work h2{
    text-align: center;
}

.our-work .our-work__images{
    --auto-grid-min: calc(50% - var(--auto-grid-gap));
    --auto-grid-gap: var(--size-400);
}
@media screen and (max-width: 31.9em) {
    .our-work .our-work__images .image:nth-child(3n){
        display: none;
    }
}

@media screen and (min-width: 32em) {
    .our-work .our-work__images{
        --auto-grid-min: calc(33% - var(--auto-grid-gap));
        margin-bottom: 2rem;
    }

    .our-work .our-work__images .image:nth-child(1),
    .our-work .our-work__images .image:nth-child(3n){
        margin-bottom: -2rem;
        padding-top: 2rem;
    }

    .our-work__images .image img{
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
    }
}

.specialist .split-child{
    --split-child-min-width: 18rem;
    --split-child-align: center;
}

@media screen and (min-width: 48em) {
    .specialist .split-child{
        --split-child-space: 2rem;
    }
}

/* .projects{
    --flow-space: var(--size-900);
} */
/* 
ul.stacked-list{
    margin-top: var(--size-1400);
} */


.project-list__image{
    /* order: 1; */
    margin-bottom: var(--size-400);
}

.project-list__info > p:last-of-type{
    margin-bottom: 0;
}

.stacked-list > li{
    position: relative;
    --flow-space: var(--size-1200);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    perspective: 1000px;
    flex-direction: column;
    text-align: center;
}

@media screen and (min-width: 42em) {
    ul.stacked-list{
        margin-top: var(--size-1400);
    }

    .project-list__info > p:last-of-type{
        margin-bottom: inherit;
    }

    .project-list__info{
        flex: 1;
        padding: initial;
        background: initial;
    }

     .project-list__image{
        flex: 1;
        min-width: 12rem;
        order: initial;
        margin-bottom: initial;
    }

    .project-list__info > p:last-of-type{
        margin-bottom: 0;
    } 

    .stacked-list > li{
        gap: var(--size-800);
        flex-direction: row;
        text-align: initial;
    }

    .stacked-list > li a:hover::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: hsla(229, 28%, 24%, .3);
        transition:cubic-bezier(1, 0, 0, 1);
        transition:.2s ease-in-out;
    }
}

.stacked-list > * h3{
    text-transform: initial;
    letter-spacing: initial;
}

/* @media screen and (min-width: 42em) {
    .project-list__image{
        max-width: 31.3rem;
    }
}

@media screen and (min-width: 48em) {
    .project-list__image{
        margin-right: var(--size-400);
    }
} */


/* @media screen and (min-width: 671px) {
    .stacked-list > li{
        gap: var(--size-800);
    }

    .project-list__image{
        order: initial;
    }
} */

@media screen and (max-width: 41.999em) {
    .stacked-list > li{
        padding: min(20vw, var(--size-400));
        background-color: hsla(229, 28%, 24%, .1);
        width: 100%;
        border-radius: .2rem;
    }

    /* .project-list__image{
        width: 100%;
    }

    .project-list__image img{
        margin: 0 auto;
    } */
}

/* .stacked-list > li:hover > .project-list__info > p, .stacked-list > li:hover > .project-list__info > h3{
    z-index: 1000;
    color: var(--color-light);
    position: relative;
} */

.page-title{ 
    text-align: center; 
    margin-bottom: var(--size-1400);
}
.page-title span{
    display: block;
    margin-bottom: var(--size-400);
}


@media screen and (min-width: 42em) {
    .contact .page-content{
        --split-child-space: 4rem;
        --split-child-align: top;
    }
}

form input, form textarea {
    display: block;
    width: 100%;
    line-height: 1.5;
    font-size: 1.125rem;
    background: var(--color-light);
    border: none;
    padding: 1rem;
    /* border: 2px solid var(--color-lightgrey); */
    border-radius: var(--radius-small);
    color: currentColor;
}

form textarea {
    height: 12.5rem;
}

form fieldset {
    padding: var(--size-500);
    margin: 0;
    margin-top: 0px;
    border: none;
    background-color: var(--color-lightgrey);
    border-radius: var(--radius-small);
}

form >  * .field:first-of-type{
    margin-top: 0;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--step--1);
    font-weight: var(--weight-mid);
    background: var(--color-primary);
    padding: var(--step--2) var(--step-2);
    border-radius: var(--radius-small);
    text-decoration: none;
    color: var(--color-light);
    transition: .4s all var(--transition-ease);
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
}

.alert{
    padding: var(--size-600);
    border-radius: .2rem;
}

.alert > p:last-child{
    margin-bottom: 0;
}

.success{
    background-color: var(--color-success);
}

.section-alert{
    padding: var(--size-600);
    border-radius: var(--radius-small);
    margin-bottom: var(--size-1000);
}

.section-alert > p:last-child{
    margin-bottom: 0;
}

.section-alert.info{
    background-color: var(--color-info);
}