.hero{
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 78vh;
    max-height: 60.25rem;
    padding-top: 15.72rem;
    position: relative;
    z-index: 5;
}

@media screen and (max-width: 960px) {
    .hero{
        height: 70vh;
        max-height: 45rem;
    }
}

.hero__intro{
    margin: 0 auto;
}
